*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.custom-head{
  text-decoration: none;
  color: #f1f1f1!important;
}
.custom-head:hover{
  text-decoration: none;
  color: #16f7ff!important;
}
